<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
         <ul>
            <li class="HeaderName">Inventory</li>
            <li class="arrow">>></li>
            <li class="LinkName"  [routerLink]="['/Receive_Product_List']" >Receive Products List</li>
            <li class="arrow">>></li>
            <li>Receive Products View</li>
         </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="col-sm-4">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Request </span> Details
               </h5>
               <div class="view_item">
                  <div class="Static">Inward Ref </div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{ _List?.ReceiveProducts_Details['PurchaseRequest_RefNo']}} </div>
               </div>
               <div class="view_item">
                  <div class="Static">Requested Date</div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{ _List?.ReceiveProducts_Details['PurchaseRequest_Date'] | date}} </div>
               </div>
               <div class="view_item">
                <div class="Static">Expected Date</div>
                <div class="dots"> : </div>
                <div class="Data"> {{ _List?.ReceiveProducts_Details['Expected_Date'] | date}} </div>
             </div>
             <div class="view_item">
                <div class="Static">Delivered Date</div>
                <div class="dots"> : </div>
                <div class="Data"> {{ _List?.ReceiveProducts_Details['Delivered_Date'] | date}} </div>
             </div>
               <div class="view_item">
                  <div class="Static"> Hub </div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{ _List?.ReceiveProducts_Details['Hub_Id']['Name']}} </div>
               </div>
               <!-- <div class="view_item">
                  <div class="Static"> Purchase Order No </div>
                  <div class="dots"> : </div>
                  <div class="Data"> Order-0123 </div>
               </div> -->
               <br>
               <div> 
                  <button *ngIf="_List?.ReceiveProducts_Details['FranchiseeCurrent_Status'] === 'Requested'" mat-raised-button color="primary" style ="margin-left: 10px;" (click)="Receive()"> Receive </button>
                  <button mat-raised-button color="primary" style ="margin-left: 10px;"> Return </button>
                  <button mat-raised-button color="primary" style ="margin-left: 10px;"> Back </button>
               </div>
            </div>
         <br>
         
         </div>
         <div class="col-sm-8">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Product </span> Details
               </h5>
               <div class="Table_Section">
                  <table>
                     <thead>
                        <tr>
                           <th> S.no </th>
                           <th> Product </th>
                           <th> Requested Quantity</th>
                           <th> Delivered Quantity </th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let item of _List?.ReceiveProducts_Product_Details; let i = index">
                           <td>
                              <span class="S_no"> {{i+1}} </span>
                           </td>
                           <td>
                              <span class="Style_1">{{item?.Product_Id['Name_withAttribute']}}</span>
                           </td>
                           <td>
                              <span class="Style_1"> {{item?.Requested_Quantity}} </span>
                           </td>
                           <td>
                              <span class="Style_1"> {{item?.Deliver_Quantity }} </span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <br>
         </div>
      </div>
   </div>
</div>
