<app-header></app-header>
<div class="Main_Section">
   <div class="container-fluid">
      <!-- page Section -->
      <div class="Page_Section">
         <!-- Page Identity -->
         <div class="Page_Identity">
            <div class="Page_Track">
               <ul>
                  <li class="HeaderName">Home</li>
                  <li class="arrow">>></li>
                  <li>DashBoard</li>
               </ul>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-9">
               <div class="row">
               <div class="col-sm-12 ">
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_1">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <i class="material-icons">
                                       add_shopping_cart
                                       </i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_1"> Sales </h5>
                                    <h6> 20</h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_1">
                                 <span class="Card_Info"> View More </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_2">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <i class="material-icons Total_Invoice">
                                       assignment
                                       </i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_2 "> Sales - Today </h5>
                                    <h6>RS.45,000.00 </h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_2">
                                 <span class="Card_Info"> View More </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_3">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <i class="fab fa-stack-exchange"></i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_3"> Stock Value</h5>
                                    <h6> 2,00,000.00</h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_3">
                                 <span class="Card_Info"> View More </span>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-3">
                           <div class="Card card_bg_Liner_4">
                              <div class="Card_Body">
                                 <div class="Card_Left">
                                    <i class="material-icons unPaid_Invoice">
                                       assignment
                                       </i>
                                 </div>
                                 <div class="Card_Right">
                                    <h5 class="card_color_4">You Owe </h5>
                                    <h6>RS.15,000.00 </h6>
                                 </div>
                              </div>
                              <div class="Card_Footer card_bg_4">
                                 <span class="Card_Info"> View More  </span>
                              </div>
                           </div>
                        </div><br>
                     </div>
                  </div>
               </div> 
                  <br>
                  <br>
                  <div class="row">
                     <div class="col-sm-12">
                         <div class="Table_Section">
                             <table>
                               <thead>
                                 <tr>
                                   <th>S.no</th>
                                   <th>Product </th>
                                   <th>On Hand Qty</th>
                                   <th>Sales Qty</th>
                                   <th>Total value</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr>
                                   <td>
                                     <span class="S_no"> 1 </span>
                                   </td>
                                  <td>
                                     <span class="Style_1">Mutton 1KG Box </span>
                                   </td>
                                   <td>
                                     <span class="Style_1">30</span>
                                   </td>
                                   <td>
                                     <span class="Style_1">20</span>
                                   </td>
                                   <td>
                                     <span class="Style_1">40,000.00</span>
                                   </td>
                                 </tr>
                                 <tr>
                                   <td>
                                     <span class="S_no"> 2 </span>
                                   </td>
                                   <td>
                                     <span class="Style_1">Chicken 1KG Box </span>
                                   </td>
                                   <td>
                                    <span class="Style_1">30</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">20</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">20,000.00</span>
                                  </td>
                                 </tr>
                                 <tr>
                                   <td>
                                     <span class="S_no"> 3 </span>
                                   </td>
                                  <td>
                                     <span class="Style_1">Fish-1 1KG Box</span>
                                   </td>
                                   <td>
                                    <span class="Style_1">30</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">20</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">10,000.00</span>
                                  </td>
                                  </tr>
                                 <tr>
                                   <td>
                                     <span class="S_no"> 4 </span>
                                   </td>
                                   <td>
                                     <span class="Style_1">Fish-2 1KG Box</span>
                                   </td>
                                   <td>
                                    <span class="Style_1">30</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">20</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">20,000.00</span>
                                  </td>
                                 </tr>
                                 <tr>
                                   <td>
                                     <span class="S_no"> 5 </span>
                                   </td>
                                  <td>
                                     <span class="Style_1">Fish-3 1KG Box</span>
                                   </td>
                                   <td>
                                    <span class="Style_1">30</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">20</span>
                                  </td>
                                  <td>
                                    <span class="Style_1">30,000.00</span>
                                  </td>
                                 </tr>
                               </tbody>
                             </table>
                           </div>
                     </div>
                   </div>
               <br>                
            </div>
            <div class="col-sm-3">
               <div class="Calender">
                  <p-calendar class="Custom_Calender_1" [inline]="true"></p-calendar> 
               </div>
               <br>
               
            </div>
         </div>
      </div>
   </div>
</div>

      

  
  
   


