<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <div class="Page_Identity">
         <!-- Page Identity -->
         <div class="Page_Track">
            <ul>
               <li class="HeaderName">Inventory</li>
               <li class="arrow">>></li>
               <li class="LinkName" [routerLink]="['/Purchase_Request_List']">Purchase Request List</li>
               <li class="arrow">>></li>
               <li> Purchase Request Create</li>
            </ul>
         </div>
         </div>
         <form [formGroup]="Form">
                <div class="row">
                  <div class="col-sm-12">
                      <!-- Company details -->
                      <div class="Company_Details">
                         <h5 class="SectionIdentity"> 
                            <span class="Highlight"> Request </span> Details
                         </h5>
                         <br>
                         <div class="row">
                              <!-- <div class="col-sm-3 Form_Input">
                               <label>Purchase Bill Ref No:</label>
                               <input type="text" formControlName="PurchaseRequest_RefNo">
                               <p class="error" *ngIf="Form.controls['PurchaseRequest_RefNo'].errors && Form.controls['PurchaseRequest_RefNo'].touched">
                                  <span *ngIf="Form.controls['PurchaseRequest_RefNo'].errors.FranchiseePurchaseBill_RefNo_NotAvailable"> This Purchase Bill Ref number is not available</span>
                                </p>
                              </div> -->
                            <div class="col-sm-4 Form_Input">
                               <label> Hub:</label>
                              <input type="text" value="{{_HubList?.Name}}" readonly>
                            </div>
                            <div class="col-sm-4 Form_Input">
                               <label>Purchase Bill Date:</label>
                               <input placeholder="Bill date" formControlName="PurchaseRequest_Date" (keypress)="DoNothing()" (keydown)="DoNothing()" bsDatepicker>
                               <p class="error" *ngIf="Form.controls['PurchaseRequest_Date'].errors && Form.controls['PurchaseRequest_Date'].touched">
                                 <span *ngIf="Form.controls['PurchaseRequest_Date'].errors.required"> Bill Date is required</span>
                               </p>
                            </div>
                            <div class="col-sm-4 Form_Input">
                                <label>Expected Date:</label>
                                <input placeholder="Bill date" formControlName="Expected_Date" (keypress)="DoNothing()" (keydown)="DoNothing()" bsDatepicker>
                                <p class="error" *ngIf="Form.controls['Expected_Date'].errors && Form.controls['Expected_Date'].touched">
                                    <span *ngIf="Form.controls['Expected_Date'].errors.required"> Bill Date is required</span>
                                </p>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!-- Section Identity -->
                   <div class="col-sm-12" style="margin-top:25px;">
                      <div class="Company_Details">
                         <h5 class="SectionIdentity"> 
                            <span class="Highlight"> Product </span> Details
                         </h5>
                         <span class="AddMoreButton">
                              <button mat-raised-button color="primary" (click)="addItem()">Add Product</button>
                          </span>
                         <br>
                                  <!-- Table Section -->
                     <div class="Product_Details">
                          <table class="table_section">
                             <thead class="table_head">
                                <tr>
                                   <th style="width: 80px">S.No</th>  
                                   <th>Product</th>  
                                   <th>Quantity</th>  
                                   <th>Action</th> 
                                </tr>
                             </thead>
                             <tbody>
                                <ng-container formArrayName="items" *ngFor="let item of Form.get('items')['controls']; let i = index;" >
                                 
                                  <tr [formGroupName]="i" >
                                   
                                    <td>
                                      <span class="Style_1"> {{i+1}} </span> 
                                   </td>
                                   <td>
                                       <div class="Form_Select">
                                          <ng-select class="NgSelect ValueBold Form_Select" 
                                                      [items]="_temProductList"
                                                      bindLabel="Name_withAttribute"
                                                      formControlName="Product"
                                                      [searchable]="true"
                                                      placeholder="Product">
                                          </ng-select> 
                                        </div>                
                                   </td>
                                    <td>
                                       <div class="Form_Input">
                                          <input type="text" formControlName="Quantity" (blur)="onTabQuantity(i)" style="margin: 0px 30px 0px 30px">
                                       </div>
                                    </td>
                                    <td>
                                       <button class="Table_Action_mini Bg_Danger" mat-mini-fab color="primary" (click)="Delete(i)" *ngIf="items?.length > 1">
                                          <i class="material-icons">delete_forever</i>
                                       </button>
                                    </td>
                                  </tr>                      
                                </ng-container>
                             </tbody>
                          </table>
                          <br>
                       </div>
                      </div>
                   </div>
                </div>
             </form>
   </div>
</div>
<div class="FooterForBill">
   <button mat-raised-button color="primary" style = "top: 5px;"  [disabled]="!Form.valid" (click)="Submit()"> Submit </button>
</div>

