<div class="page" style="margin-top:100px;margin-bottom:100px;">
   <div class="container-fluid">
      <!-- page Identity -->
      <div class="Page_Identity">
         <div class="Page_Track">
         <ul>
            <li class="HeaderName">Inventory</li>
            <li class="arrow">>></li>
            <li class="LinkName" [routerLink]="['/Purchase_Request_List']">Purchase Requests List</li>
            <li class="arrow">>></li>
            <li>Purchase Request View</li>
         </ul>
         </div>
      </div>
      <div class="row">
         <!-- Company details -->
         <div class="col-sm-4">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Request </span> Details
               </h5>
               <div class="view_item">
                  <div class="Static">Ref Number </div>
                  <div class="dots"> : </div>
                  <div class="Data">{{_Data?.PurchaseRequest_Details['PurchaseRequest_RefNo']}}</div>
               </div>
               <div class="view_item">
                  <div class="Static"> Requested By </div>
                  <div class="dots"> : </div>
                  <div class="Data">{{_Data?.PurchaseRequest_Details['User_Id']['Name']}}</div>
               </div>
               <div class="view_item">
                  <div class="Static"> Hub </div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{_Data?.PurchaseRequest_Details['Hub_Id']['Name']}} </div>
               </div>
               <div class="view_item">
                  <div class="Static">Requested Date</div>
                  <div class="dots"> : </div>
                  <div class="Data"> {{_Data?.PurchaseRequest_Details['PurchaseRequest_Date'] | date}} </div>
               </div>
               <div class="view_item">
                <div class="Static">Expected Date</div>
                <div class="dots"> : </div>
                <div class="Data"> {{_Data?.PurchaseRequest_Details['Expected_Date'] | date}} </div>
             </div>
               <br>
               <div> 
                  <button *ngIf="_Data?.PurchaseRequest_Details['PurchaseRequest_Status'] === 'Requested'" mat-raised-button color="primary" style ="margin-left: 10px;" (click)="Approve(template)"> Approve </button>
                  <button mat-raised-button color="primary" style ="margin-left: 10px;"> Reject </button>
                  <!-- <button mat-raised-button color="primary" style ="margin-left: 10px;"> Forward </button> -->
                  <!-- <button mat-raised-button color="primary" style ="margin-left: 10px;" (click)="Edit()"> Edit </button> -->
               </div>
            </div>
         <br>
         
         </div>
         <div class="col-sm-8">
            <div class="Company_Details">
               <h5 class="SectionIdentity"> 
                  <span class="Highlight"> Product </span> Details
               </h5>
               <div class="Table_Section">
                  <table>
                     <thead>
                        <tr>
                           <th> S.no </th>
                           <th> Product </th>
                           <th> Requested Quantity</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let item of _Data?.PurchaseRequest_Product_Details; let i = index">
                           <td>
                              <span class="S_no"> {{i+1}} </span>
                           </td>
                           <td>
                              <span class="Style_1">{{item?.Product_Id['Name_withAttribute']}}</span>
                           </td>
                           <td>
                              <span class="Style_1"> {{item?.Quantity}} </span>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="row" style="margin-top: 20px;">
               </div>
            </div>
            <br>
         </div>
      </div>
   </div>
</div>




<ng-template #template>
   <div class="Modal_Content">
      <div class="Modal_Header">
        <p>Update Stock Quantity</p>
        <span data-dismiss="modal" (click)="modalRef.hide(); ">&times;</span>
      </div>
      <div class="Model_Body">
         <div class="Table_Section">
            <form [formGroup]="Form" >
               <table>
                  <thead>
                     <tr>
                        <th >S.No</th>  
                        <th>Product</th>  
                        <th>Quantity</th>  
                        <th>Approved Quantity</th> 
                     </tr>
                  </thead>
                  <tbody>
                     <ng-container formArrayName="Products" *ngFor="let item of Form.get('Products')['controls']; let i = index;" >
                        <tr [formGroupName]="i" >
                           <td>
                              <span class="Style_1"> {{i+1}} </span> 
                           </td>
                           <td>
                              <div class="Form_Input">
                                 <input type="text" formControlName="ProductName">
                              </div>
                           </td>
                           <td>
                              <div class="Form_Input">
                                 <input type="text" formControlName="Quantity">
                              </div>
                           </td>
                           <td>
                              <div class="Form_Input">
                                 <input type="text" formControlName="Approved_Quantity">
                              </div>
                           </td>
                        </tr>                      
                     </ng-container>
                  </tbody>
               </table>
               <button mat-raised-button color="primary" style ="margin: 10px 0px 10px 10px; float: right;" (click)="Submit()"> Submit </button>
            </form>
            <br>
         </div>
      </div>
  </div>
</ng-template>