<div class="Header_Page">
   <!-- Header One -->
   <div class="Header_One">
      <!-- Logo -->
      <img src="assets/images/basic/H4C-logo.png" alt="Logo" class="Header_Logo"> 
      <!-- Header Button -->
      <span class="Header_Button">
        <button mat-button color="primary" [routerLink]="['/Crm_Bill_Create']" > + Bill </button>
      </span>
      <!-- Search Section -->
      <span class="search_section">
         <input type="text" placeholder="search">
         <i class="material-icons">search </i>
      </span>
      <!-- Logout Button -->
      <span class="Logout_Btn"> <span (click)="LogOut()"> Logout </span></span>
   </div>
   <!-- Header Two -->
   <div class="Header_Two">
      <ul class="Menus">
         <!-- DashBoard -->
         <li class="Menu_List" [routerLinkActive]="['active']" [routerLink]="['/Main_Dashboard']">
            <span class="Menu">
               <i class="material-icons">dashboard</i>
               <span> &nbsp; Dashboard </span> 
            </span>
         </li>
         <!-- CRM -->
         <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}" class="Menu_List">
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Sales </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Crm_Customers_List']">
                     <a> Customers </a>
                     <span class="Hidden_Links"> 
                        <span [routerLink]="['/Crm_Customers_Create']"></span>
                        <span [routerLink]="['/Crm_Customers_View']"></span>
                     </span>
                  </li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Crm_Bill_List']">
                     <a> Bill  </a>
                     <span class="Hidden_Links">
                        <span [routerLink]="['/Crm_Bill_Create']"></span>
                        <span [routerLink]="['/Crm_Bill_View']"></span>
                     </span>
                  </li>
               </ul>
            </span>
         </li>
         <!-- Purchase -->
         <li [routerLinkActive]="['active']" class="Menu_List">
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Inventory </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Purchase_Request_List']">
                     <a> Purchase Requests </a>
                     <span class="Hidden_Links">
                        <span [routerLink]="['/Purchase_Request_Create']"></span>
                        <span [routerLink]="['/Purchase_Request_View']"></span>
                     </span>
                  </li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Receive_Product_List']">
                     <a> Receive Products </a>
                     <span class="Hidden_Links">
                        <span [routerLink]="['/Receive_Product_View']"></span>
                     </span>
                  </li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Stock_Values_List']">
                     <a> stock values </a>
                     <span class="Hidden_Links">
                        <span [routerLink]="['/Stock_Values_View']"></span>
                     </span>
                  </li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Vendor_Bills_List']">
                     <a> Purchase Bills </a>
                     <span class="Hidden_Links">
                        <span [routerLink]="['/Vendor_Bills_View']"></span>
                     </span>
                  </li>
               </ul>
            </span>
         </li>
        <!-- Accounts -->
         <li [routerLinkActive]="['active']" class="Menu_List" >
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; Accounts </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Sales_Bills_List']">
                    <a> Sales Bill </a>
                     <span class="Hidden_Links">
                        <span [routerLink]="['/Sales_Bills_Create']"></span>
                        <span [routerLink]="['/Sales_Bills_View']"></span>
                     </span>
                  </li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Purchase_Bills_List']">
                     <a>Purchase Bill</a>
                     <span class="Hidden_Links">
                        <span [routerLink]="['/Purchase_Bills_View']"></span>
                     </span>
                  </li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Bank_Registers_List']"><a>Bank Registers</a></li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/Cash_Register_List']"><a>Cash Registers</a></li>
               </ul>
            </span>
         </li>
         <!-- Product -->
         <li class="Menu_List" [routerLinkActive]="['active']" [routerLink]="['/Products_List']" style="outline:none;">
            <span class="Menu">
               <i class="material-icons">people</i>
               <span > &nbsp; Product </span> 
            </span>
            <span class="Hidden_Links">
               <span [routerLink]="['/Product_Create']"></span>
               <span [routerLink]="['/Product_View']"></span>
            </span>
         </li>
        <!-- HR -->
         <!-- <li [routerLinkActive]="['active']" class="Menu_List" >
            <span class="Menu_Tree">
               <span class="Menu">
                  <i class="material-icons">people</i>
                  <span> &nbsp; HR </span> 
               </span>
               <ul class="Menu_Tree_View">
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/List_Employees']"><a> Employees </a></li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/List_Attendance_Log']"><a> Attendance Log </a></li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/List_Attendance_Report']"><a> Attendance Report </a></li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/List_Payroll']" ><a> Payroll </a></li>
                  <li class="Menu_Tree_List" [routerLinkActive]="['active']" [routerLink]="['/List_Payroll_Master']"><a> Payroll Master </a></li>
               </ul>
            </span>
         </li> -->
     </ul>
   </div>
   <div *ngIf=" Current_Url !== '/Crm_Bill_Create' 
                && Current_Url !== '/Purchase_Request_Create' 
                && Current_Url !==  '/Sales_Bills_Create' 
                && Current_Url !== '/Product_Create'" 
        class="Footer">
      <span><i class="material-icons pull-right Add" [routerLink]="['/Crm_Bill_Create']">add_circle_outline</i></span>
   </div>
</div>
